<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42312148244-4rlh6mde25tfep0gi96hd8rp2gj33jgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42312148244-4rlh6mde25tfep0gi96hd8rp2gj33jgs</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ_FOl2pYePAOqrPV3_nZBM6dGWdGm48s</string>
	<key>GCM_SENDER_ID</key>
	<string>42312148244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookly</string>
	<key>PROJECT_ID</key>
	<string>cofyee-shope-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cofyee-shope-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42312148244:ios:d629bb3d5a88e3db074e01</string>
</dict>
</plist>